@font-face {
  font-family: Gotham;
  src: url(fonts/GothamMedium.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: Gotham-book;
  src: url(fonts/GothamBook.ttf);
}

html, body {
  height: 100%;
  font-family: Gotham, sans-serif;
}

body {
  height: calc(100% - 66px);
  background-color: #f4f4f4;
  /* overflow-y: initial; */
}

a, p, span, h1, h2, h3, h4, h5, h6, label {
  font-family: Gotham, sans-serif;
}

a, p {
  font-size: 10px;
}

ul{
  margin-bottom: 0;
}

a:hover {
  color: #7a70b3;
  text-decoration: none;
}

/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
  color:  #acacac !important;
  font-size: 12px;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color:  #acacac !important;
  font-size: 10px;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color:  #acacac !important;
  font-size: 10px;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color:  #acacac !important;
  font-size: 10px;
}
/* Microsoft Edge */
:-ms-input-placeholder {
  color:  #acacac !important;
  font-size: 10px;
}

/* Top navigation */
#headerMenu {
  background-color: #fff;
}

nav.header {
  height: 66px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


.wave {
  background-color: #7b70b5;
  display: inline-block;
  padding: 21px 15px;
}

.header .navbar-nav .nav-link {
  font-size: 10px;
  color: #474667;
  font-family: Gotham, sans-serif;
  padding: 25px;
}

.user-image {
  height: 36px;
  background-color: #7a70b3;
}

.navbar-toggler-icon {
  background-image: url('images/menu-toggler.png');
}

.user-name p {
  line-height: 1;
}

.coins {
  font-size: 8px;
  color: #9dcc7a;
}


/* Left navigation */

.mtop {
  margin-top: 66px;
}

.left-menu {
  z-index: 1;
  overflow-y: scroll;
  max-height: calc(100% - 66px);
  background-color: #fff;
  .nav {
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    font-size: 14px;
    color: #474667;
    span {
      display: none;
      padding-left: 25px;
    }
  }
}


.left-menu-icon {
  padding-top: 8.5px;
  .nav-link {
    padding: 21.5px 23px;
  }
  .nav-item{
    &:before {
      float: left;
      height: 40px;
      margin-top: 8px;
      content: '';
    }
  }
}

.left-menu-icon .nav-item:hover::before {
  content: url(images/menu-line-v.png);
}

.left-menu-icon .nav-item.active::before {
  content: url(images/menu-line-v.png);
}

.ficon {
  vertical-align: -webkit-baseline-middle;
}

.f-home::before {
  content: url('images/home.png');
}

.f-disk::before {
  content: url('images/disk.png');
}

.f-album::before {
  content: url('images/album.png')
}

.f-video::before {
  content: url('images/video.png');
}

.f-comp::before {
  content: url('images/trophy.png');
}

.f-account::before {
  content: url('images/account.png');
}


/* Main content */

#main-content {
  margin-left: 66px;
}

.upload-section-w {
  padding: 30px 15px 0 30px;
}

.details-section-w {
  padding: 30px 30px 0 15px;
}

.pt-14-o {
  padding-top: 14px;
}

.mt-10-o {
  margin-bottom: 10px;
}

.content-section {
  box-shadow: 1px 2px 7px 0px rgba(122, 112, 179, 0.15);
  background-color: #fff;
  margin-top: 30px;
  &.general-padding  {
    padding: 30px;
  }
}

/* Messages */
.message-section{
  .message-inner-header{
    padding: 5px 75px 5px 75px;
    border-bottom: 1px solid #eeeeee;
    .nav-link{
      color: #bfbfbf;
      font-size: 12px;
      font-weight: 500;
      line-height: 12.5px;
      text-transform: uppercase;
      letter-spacing: 0.58px;
      cursor: pointer;
      padding: 0;
      border:  0;
      &.active{
        color: #7269a6;
      }
    }
    .nav-tabs{
      border: 0;
    }
  }
  .message-form{
    padding: 12px 75px 64px 75px;
    .read-only-input{
      color: #acacac;
    }
  }
  &.message-inbox{
    .message-inner-header{
      padding: 12px 75px 12px 75px;
    }
    .message-body{
      padding: 12px 18px;
      border-bottom: 1px solid #eeeeee;
      h4{
        color: #37474f;
        font-family: Gotham-book, sans-serif;
        font-size: 9px;
        font-weight: 600;
      }
      p{
        @extend h4;
        color: #76838f;
        font-weight: 400;
      }
    }
    .message-body.active {
      background-color: #9dcc7a;
      h4, p{
        color: #ffffff;
      }
    }
    .message-pagination{
      padding: 12px 18px;
      .page-link{
        border-radius: 13px;
        border: 1px solid #e2e2e2;
        background-color: #ffffff;
        color: #4c5e70;
        font-family: Gotham-book, sans-serif;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: 0.24px;
        width: 28px;
        height: 26px;
        padding: 0;
      }
      .page-link-control{
        width: 74px;
      }
    }
  }
}


/* Credits/Earnings */
.transactions-section {
  h3 {
    color: #474667;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.54px;
    margin-bottom: 0;
  }
  .money-count{
    color: #9dcc7a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.54px;
  }
  .credits-header-separator{
    width: 117px;
    height: 3px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #9dcc7a 0%, #7269a6 100%);
  }
}


.transactions-table{
  .transactions-table-head{
    p{
      color: #7269a6;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2px;
    }
  }
  .transactions-table-row{
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: #fafafa;
  }
  .transactions-table-data{
    color: #474667;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    &.btn-link:hover{
      text-decoration: none;
    }
  }
  .transactions-table-data__opened{
    padding: 0 15px;
    color: #7269a6;
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
  }
}

.upload-type-text {
  margin-bottom: 22px;
  color: #acacac;
  font-size: 12px;
}

div.button {
  border-radius: 12px;
  cursor: pointer;
}

.bg-purple-dark {
  background-color: #7269a6;
}

.button span {
  font-size: 10.5px;
  color: #fff;
  line-height: 25px;
}

.button input {
  left: 0;
}

.bg-green-light {
  background-color: rgba(157, 204, 122, 0.6);
  background-color: rgba(157, 204, 122, 1);
}

#album-radio {
  padding-right: 5px;
}

#track-radio {
  padding-left: 5px;
}

.album-info-secion p {
  color: #474667;
  font-weight: 300;
}

.album-info-secion p span {
  color: #7a70b3;
  font-weight: 700;
}

.album-info-secion a {
  color: #7a70b3;
  font-weight: 700;
}

.album-info-secion a span {
  color: #474667;
  font-weight: 300;
}

.drop-section {
  border: 1px dashed #7a70b3;
}

.bg-purple-light {
  background-color: rgba(114, 105, 166, 0.6);
  background-color: rgba(114, 105, 166, 1);
}

.upload-section p {
  transform: scaleY(1.0161);
}

.drop-section p {
  font-size: 10px;
  color: #acacac;
}

.bg-gray {
  background-color: #ededed;
}

.bg-purple {
  background-color: #7a70b3
}

.close-circle {
  border: solid 1px #7269a6;
  height: 12px;
  width: 12px;
  padding: 0;
  background: #fff;
  padding-left: 1px;
}

.close-circle span {
  line-height: 11px;
  font-size: 10px;
  color: #acacac;
}

.progress-title {
  line-height: 1px;
}

.progress-title p {
  max-width: 90%;
  font-size: 10px;
  color: #acacac;
  line-height: 14px;
}

.progress-procent {
  margin: 0;
  font-size: 8px;
  color: #acacac;
  margin-top: 2px;
}

label {
  font-size: 14px;
  color: #474667;
}

.customize-form input,
.customize-form .input-group-text,
.customize-form .input-group span {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  font-family: Gotham, sans-serif;
  font-size: 10px;
  color: #7269a6;
  background-color: #fff;
}

.customize-form {
  .dark-placeholder {
    color: #474667 !important;
  }
}

.customize-form input:focus {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7a70b3;
  box-shadow: none;
  box-shadow: 0 1px 0.7px 0px rgba(114, 105, 166, 0.6);
  box-shadow: 0 1.9px 1.4px -0.6px rgba(114, 105, 166, 0.6);
}

.customize-form input:focus ~ .input-group-append .input-group-text {
  border-bottom-color: #7a70b3;
  box-shadow: 0 1px 0.7px 0px rgba(114, 105, 166, 0.6);
  box-shadow: 0 1.9px 1.4px -0.6px rgba(114, 105, 166, 0.6);
}

.customize-form textarea {
  border-radius: 12px;
  border-color: #ccc;
  box-shadow: 1px 2px 7px 0px rgba(122, 112, 179, 0.15);
  resize: none;
  font-size: 10px;
  font-weight: 500;
  color: #7269a6 !important;
  font-family: Gotham, sans-serif;
}

.customize-form textarea:focus {
  box-shadow: 0 0 0 0.05rem rgba(114, 105, 166, 0.6);
  border-color: #7a70b3;
}

.form-check-label {
  font-size: 10px;
  color: #7a70b3;
}

.btn-submit-purple{
  color: #ffffff;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #7269a6;
  font-size: 12px;
  font-weight: 500;
  line-height: 12.5px;
  margin-top: 12px;
}

.form-check {
  padding-left: 1.7rem;
}

.form-check-input {
  margin-left: -1.7rem;
  margin-top: 0.25rem;
}

.check-icon:hover,
.edit-icon:hover {
  cursor: pointer;
}

.ui-datepicker a {
  font-size: 1em !important;
}

.ui-widget-content.ui-autocomplete {
  font-size: 10px;
  font-family: Gotham, sans-serif;
  color: #7a70b3;
}

@media (max-width: 991px) {
  .message-section {
    .message-inner-header {
      padding: 12px 75px 12px 75px;
    }
    .message-form{
      padding: 12px 165px 64px 165px;
    }
  }
}

@media (max-width: 767px) {
  .upload-section-w {
    padding: 15px 15px 7.5px;
  }

  .details-section-w {
    padding: 7.5px 15px 15px;
  }
  .message-section {
    .message-form{
      padding: 12px 116px 64px 116px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .upload-section-w {
    padding: 30px 30px 15px;
  }

  .details-section-w {
    padding: 15px 30px 30px;
  }
}

@media (max-width: 575px) {
  .message-section, .message-section.message-inbox {
    .message-inner-header {
      padding: 12px 15px 12px 15px;
    }
    .message-form{
      padding: 12px 16px 64px 16px;
    }
    .message-pagination{
      padding: 12px 10px;
      .page-link{
        width: 20px;
        height: 20px;
      }
      .page-link-control{
        width: 45px;
      }
    }
  }
  .content-section {
    &.general-padding {
      padding: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .left-menu.menu-with-text .nav-link span {
    display: inline;
  }
}